<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :article %>
    <%= form.text_area :article %>
  </div>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="field">
    <% if @article.persisted? && @article.images.attached? %>
      <% @article.images.each do |image|%>
        <%= image_tag image, width: '300px', height: '200px' %>
        <%= link_to "Delete image", delete_image_article_path(image_id: image), method: :delete,
          data: {confirm: "Are u sure ?"} %>
        <hr>
      <%end%>
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
